streamlit>=1.32
sqlalchemy>=2.0
python-dateutil
pytz
requests

# Firebase Admin SDK (necessario per FCM)
firebase-admin==6.2.0
google-auth==2.23.4

# Dotenv (se vogliamo caricare secrets locali)
python-dotenv
